.Button {
  --icon-size: 20px;

  align-items: center;
  background: none;
  border: none;
  border-radius: 5px;
  color: var(--primary-color);
  cursor: pointer;
  display: flex;
  font-size: 1.2rem;
  gap: 10px;
  justify-content: center;
  padding: 0.8rem 0.3rem;
  position: relative;

  > span {
    opacity: 1;
    position: relative;
    right: 0;
    transition: all 0.2s ease-in-out;
  }

  &--icon-save::before,
  &--icon-add::before,
  &--icon-use::before,
  &--icon-copy::before {
    left: 20px;
    position: absolute;
    transition: 0.2s ease-in-out;
  }

  &--success,
  &:hover {
    opacity: 0.8;

    > span {
      opacity: 0;
      right: -40%;
    }

    &::before {
      left: 50%;
      margin-left: calc(var(--icon-size) / -2);
    }
  }

  &--inverted {
    border: 1px solid currentColor;
  }

  &--filled {
    background-color: var(--primary-color);
    color: #fff;
  }

  &--rem {
    background: none;
    color: var(--primary-color);
    font-size: 1.5rem;
    margin-right: 1rem;
  }

  &--delete::before {
    color: darkred;
  }

  &--draft-list-rem {
    padding-bottom: 10px;
    position: absolute;
    right: 30px;
  }

  &--icon::before {
    background-color: currentColor;
    content: "";
    display: inline-block;
    height: var(--icon-size);
    mask-size: contain;
    width: var(--icon-size);
  }

  &--icon-copy {
    width: 100%;
  }

  &--icon-add {
    width: 100%;
  }

  &--icon-add::before {
    mask: url("../../../node_modules/@fortawesome/fontawesome-free/svgs/solid/plus.svg") no-repeat;
  }

  &--icon-copy::before {
    mask: url("../../../node_modules/@fortawesome/fontawesome-free/svgs/solid/copy.svg") no-repeat;
  }

  &--icon-use::before {
    mask: url("../../../node_modules/@fortawesome/fontawesome-free/svgs/solid/upload.svg") no-repeat;
  }

  &--icon-save::before {
    mask: url("../../../node_modules/@fortawesome/fontawesome-free/svgs/solid/save.svg") no-repeat;
  }

  &--icon-delete::before {
    mask: url("../../../node_modules/@fortawesome/fontawesome-free/svgs/solid/trash-alt.svg") no-repeat;
  }

  &--icon-toggle-open::before {
    mask: url("../../../node_modules/@fortawesome/fontawesome-free/svgs/solid/angle-left.svg") no-repeat;
  }

  &--icon-toggle-close::before {
    mask: url("../../../node_modules/@fortawesome/fontawesome-free/svgs/solid/angle-right.svg") no-repeat;
  }

  &--success {
    background-color: green;
    color: #fff;

    &::before {
      mask: url("../../../node_modules/@fortawesome/fontawesome-free/svgs/solid/check.svg") no-repeat;
    }
  }
}
