.btn {
  border: none;
  border-radius: 3px;
  color: #f4f4f4;
  cursor: pointer;
  font-size: 1.2rem;

  &:hover {
    opacity: 80%;
  }

  &--add {
    align-items: center;
    background: none;
    border: 2px solid currentColor;
    border-radius: 5px;
    color: teal;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 0.2rem 0.4rem;
  }

  &--add::before {
    --icon-size: 20px;

    background-color: currentColor;
    content: "";
    display: inline-block;
    height: var(--icon-size);
    mask: url("../../../node_modules/@fortawesome/fontawesome-free/svgs/solid/plus.svg") no-repeat;
    mask-size: contain;
    width: var(--icon-size);
  }

  &--rem {
    background: none;
    color: teal;
    font-size: 1.5rem;
    margin-right: 1rem;
  }

  &--copy {
    align-items: center;
    background-color: teal;
    border-radius: 5px;
    color: #fff;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 0.5rem 0.4rem;
    width: 100%;
  }

  &--copy::before {
    --icon-size: 20px;

    background-color: currentColor;
    content: "";
    display: inline-block;
    height: var(--icon-size);
    mask: url("../../../node_modules/@fortawesome/fontawesome-free/svgs/solid/copy.svg") no-repeat;
    mask-size: contain;
    width: var(--icon-size);
  }
}
