.form-container {
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 4rem 2rem;
  width: 50%;

  @media (min-width: 1080px) {
    padding: 4rem 2rem 4rem 6rem;
  }
}
