.Form {
  background-color: var(--grey-color);
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
  padding: 4rem 2rem;
  width: 50%;

  &__title {
    color: var(--primary-color);
  }

  @media (min-width: 1080px) {
    padding: 4rem 2rem 4rem 6rem;
  }
}
