.Output {
  background-color: var(--light-color);
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
  padding: 4rem 2rem;
  width: 100%;

  &__title {
    color: var(--primary-color);
  }

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;

    &--empty {
      align-items: center;
      color: rgb(0 0 0 / 50%);
      display: flex;
      flex: 1;
      justify-content: center;
    }
  }

  &__description,
  &__browser,
  &__devices,
  &__acceptance-criteria {
    &--label {
      color: var(--primary-color);
      display: flex;
      padding: 1rem 0 0.5rem;
    }

    &--content {
      overflow-wrap: anywhere;
      padding: 0.5rem 0 1rem;
      white-space: pre-line;
    }
  }

  &__acceptance-criteria {
    &--content {
      margin: 0;
      padding-left: 1em;
    }
  }

  &__actions {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__tooltip {
    background-color: rgb(0 0 0 / 70%);
    border-radius: 10px;
    color: var(--grey-color);
    margin-top: 1rem;
    padding: 0.5rem;
    text-align: center;
    visibility: visible;
    width: 50%;

    &:hover {
      cursor: auto;
      opacity: 1;
    }

    &.disabled {
      visibility: hidden;
    }
  }

  @media (min-width: 570px) {
    width: 50%;
  }

  @media (min-width: 1080px) {
    padding: 4rem 6rem 4rem 2rem;
  }
}
