.Layout {
  align-items: center;
  background-color: #7a7a7a;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;

  &__wrapper {
    display: flex;
    flex: 1;
    flex-direction: row;
    position: relative;
    width: 100%;

    @media (min-width: 1440px) {
      width: 1440px;
    }
  }

  &__sidebar-toggle {
    align-items: center;
    display: flex;
    gap: 0 !important; /* important because it's overwriten in button.css */
    position: absolute !important;
    right: 20px;
    top: 1rem;

    > svg {
      fill: var(--primary-color);
      margin-right: 0.2rem;
    }
  }

  &__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    @media (min-width: 640px) {
      flex-direction: row;
    }
  }
}
