.layout {
  height: 100%;
  overflow: auto;

  @media (min-width: 768px) {
    overflow: hidden;
  }

  &__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5em;
    height: 100%;

    @media (min-width: 768px) {
      align-items: flex-start;
      flex-direction: row;
      justify-content: center;
    }
  }
}
