.TextInput {
  border: 1px solid rgb(221 237 239);
  border-radius: 5px;
  font: inherit;
  padding: 0.5rem;
  width: 100%;

  &:focus {
    outline: none;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    box-shadow: 0 0 0 30px white inset;
  }
}
