.BugReportOutput {
  background-color: #fbfbfb;
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
  padding: 4rem 2rem;
  width: 50%;

  @media (min-width: 1080px) {
    padding: 4rem 6rem 4rem 2rem;
  }

  &__title {
    color: teal;
    font-weight: 600;
  }

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;

    &--empty {
      align-items: center;
      color: rgb(0 0 0 / 50%);
      display: flex;
      flex: 1;
      justify-content: center;
    }
  }

  &__description,
  &__browser,
  &__devices {
    &--label {
      color: teal;
      display: flex;
      padding: 1rem 0 0.5rem;
    }

    &--content {
      overflow-wrap: anywhere;
      padding: 0.5rem 0 1rem;
      white-space: pre-line;
    }
  }

  &__actions {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__tooltip {
    background-color: rgb(0 0 0 / 70%);
    border-radius: 10px;
    color: #f4f4f4;
    margin-top: 1rem;
    padding: 0.5rem;
    text-align: center;
    visibility: visible;
    width: 50%;

    &:hover {
      cursor: auto;
      opacity: 100%;
    }

    &.disabled {
      visibility: hidden;
    }
  }
}
