.Header {
  align-items: center;
  background-color: var(--color-dark);
  color: var(--color-grey);
  display: flex;
  height: 70px;
  justify-content: center;
  position: relative;
  width: 100%;

  &__wrapper {
    max-width: 1440px;
    width: 100%;
  }

  &__content {
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: space-between;
  }

  &__title {
    display: none;
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;

    @media (min-width: 640px) {
      display: inherit;
    }
  }

  &__logo {
    margin-top: 20px; /* aligh horizontally with title */
    padding-left: 1rem;
    width: 200px;

    &::before {
      background-color: #fff;
      content: "";
      display: inline-block;
      height: 50px;
      mask: url("../../assets/images/logo_secondary.svg") no-repeat;
      mask-size: contain;
      width: 200px;
    }
  }

  &__fake-div {
    width: 200px;
  }
}
