.PopupModal {
  align-items: center;
  background: rgb(0 0 0 / 30%);
  display: flex;
  height: 100vh;
  justify-content: center;
  perspective: 800px;
  position: fixed;
  width: 100%;
  z-index: 1;

  &__container {
    align-items: center;
    background: var(--light-color);
    border-radius: 5px;
    box-shadow: 0 0 30px rgb(0 0 0 / 60%);
    display: flex;
    justify-content: center;
    max-height: 250px;
    max-width: 640px;
  }
}
