.DraftList {
  background-color: var(--grey-color);
  box-shadow: 5px 0 15px var(--dark-color);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 0.5rem;
  height: 100%;
  overflow: hidden;
  padding: 4rem 1rem;
  position: absolute;
  right: 0;
  width: 300px;

  &__title {
    color: var(--primary-color);
  }

  &__container {
    background-color: var(--light-color);
    border: 1px solid rgb(221 237 239);
    border-radius: 5px;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;

    &__task-type {
      font-size: 0.8rem;
      font-weight: 600;
      margin-bottom: -0.5rem;
      text-transform: uppercase;

      &--story { color: #eb7100; }
      &--bug { color: #d40109; }
    }

    &--empty {
      align-items: center;
      color: rgb(0 0 0 / 50%);
      display: flex;
      flex: 1;
      justify-content: center;
    }

    &__title {
      display: grid;
      grid-template-columns: 1fr 30px;
    }

    &__summary {
      align-items: center;
      display: flex;
      font-size: 1.2rem;
      font-weight: 600;
    }

    &__description {
      color: var(--dark-color);
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__actions {
      display: flex;
      width: 100%;

      > button {
        width: 100%;
      }
    }
  }

  &--hidden {
    display: none;
  }

  @media (min-width: 820px) {
    box-shadow: none;
    position: inherit;
    width: 300px;
  }

  @media (min-width: 1400px) {
    padding-right: 6rem;
    width: 500px;
  }
}
