.DraftList {
  background-color: var(--color-grey);
  box-shadow: 5px 0 15px var(--color-dark);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 0.5rem;
  height: 100%;
  overflow: hidden;
  padding: 4rem 1rem;
  position: absolute;
  right: 0;
  width: 300px;

  &__title {
    color: var(--color-primary);
  }

  &__container {
    background-color: var(--color-light);
    border: 1px solid rgb(221 237 239);
    border-radius: 5px;
    color: var(--color-primary);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;

    &__task-type {
      font-size: 0.8rem;
      font-weight: var(--fw-bold);
      margin-bottom: -0.5rem;
      text-transform: uppercase;

      &--story { color: var(--color-story); }
      &--bug { color: var(--color-bug); }
    }

    &--empty {
      align-items: center;
      color: rgb(0 0 0 / 50%);
      display: flex;
      flex: 1;
      justify-content: center;
    }

    &__title {
      display: grid;
      grid-template-columns: 1fr 30px;
    }

    &__del-btn {
      fill: var(--color-dark-red);
    }

    &__summary {
      align-items: center;
      display: flex;
      font-size: 1.2rem;
      font-weight: var(--fw-bold);
    }

    &__description {
      color: var(--color-dark);
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__actions {
      display: flex;
      width: 100%;

      &__use-btn {
        width: 100%;

        > svg {
          fill: var(--color-primary);
          height: 25px;
          left: 0;
          margin-top: 10px;
          position: absolute;
          transform: translateX(-40%);
        }
      }
    }
  }

  &--hidden {
    display: none;
  }

  @media (min-width: 820px) {
    box-shadow: none;
    position: inherit;
    width: 300px;
  }

  @media (min-width: 1400px) {
    padding-right: 6rem;
    width: 500px;
  }
}
