.DraftList {
  background-color: var(--grey-color);
  box-shadow: 5px 0 15px var(--dark-color);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 0.5rem;
  height: 100%;
  overflow: hidden;
  padding: 4rem 1rem;
  position: absolute;
  right: 0;
  width: 300px;

  &__title {
    color: var(--primary-color);
  }

  &__container {
    background-color: var(--light-color);
    border: 1px solid rgb(221 237 239);
    border-radius: 5px;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;

    &--empty {
      align-items: center;
      color: rgb(0 0 0 / 50%);
      display: flex;
      flex: 1;
      justify-content: center;
    }

    &__title {
      display: grid;
      grid-template-columns: 1fr 30px;
    }

    &__summary {
      align-items: center;
      display: flex;
      font-size: 1.2rem;
      font-weight: 600;
    }

    &__description {
      color: var(--dark-color);
      display: block;
      line-height: 1.6rem; /* 1.6 × 3 (number of lines  to show) = 4.8 */
      max-height: 4.8rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-wrap: break-word;

      /* or inline-block */
    }

    &__actions {
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 100%;

      > button {
        width: 100%;
      }

      @media (min-width: 1400px) {
        flex-direction: row;
        gap: 1rem;
      }
    }
  }

  &--hidden {
    display: none;

    &__container {
      border: none;
    }
  }

  @media (min-width: 820px) {
    box-shadow: none;
    position: inherit;
    width: 300px;
  }

  @media (min-width: 1400px) {
    padding-right: 6rem;
    width: 500px;
  }
}
