.form-field {
  &__description {
    align-items: flex-end;
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 5px;
    }
  }

  &__criteria {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 5px;
      text-align: right;
    }
  }

  &__criteria .text-input {
    margin-bottom: 10px;
  }
}
