.form-field {
  align-items: center;
  display: flex;

  label::first-letter {
    text-transform: uppercase;
  }

  &__description {
    align-items: flex-end;
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 5px;
    }
  }

  &__criteria {
    align-items: flex-end;
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 5px;
      text-align: right;
    }
  }

  &__criteria .text-input {
    margin-bottom: 10px;
  }
}
