@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

html,
body {
  background: rgb(163 208 191);
  /* stylelint-disable */
  background: linear-gradient(90deg, rgb(163 208 191 / 100%) 0%, rgb(157 207 218 / 100%) 30%, rgb(179 157 218 / 100%) 60%, rgb(207 157 218 / 100%) 100%);
  /* stylelint-enable */
  color: #333;
  font-family:
    "Open Sans",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
}
