html,
body {
  background: rgb(2 0 36);
  /* stylelint-disable */
  background: linear-gradient(90deg, rgb(2 0 36 / 100%) 0%, rgb(121 9 117 / 100%) 17%, rgb(255 0 116 / 100%) 79%, rgb(55 0 25 / 100%) 100%);
  /* stylelint-enable */
  color: #444;
  font-family: "Helvetica Neue", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
}
