:root {
  --primary-color: #388697;
  --dark-color: #333;
  --light-color: #fbfbfb;
  --grey-color: #f4f4f4;
  --story-color: #eb7100;
  --bug-color: #d40109;
  --dark-red-color: #8d0c11;
  --fw-bold: 600;
  --fw-regular: 400;
}
